<div class="container my-4">
	<div class="row">
		<div class="col-md-6">
			<app-contact-form></app-contact-form>
		</div>
		<div class="col-md-6">
			<div>
				<app-search-bar></app-search-bar>
				<app-contacts-list></app-contacts-list>
			</div>
		</div>
	</div>
</div>