<div class="container my-4">
  <form (submit)="onSubmit()">
    <div class="form-group">
        <label for="name">Name</label>
        <input [(ngModel)]="newUser.name" type="text" class="form-control" id="name" name="name">
    </div>
    <div class="form-group">
        <label for="surname">Surname</label>
        <input  [(ngModel)]="newUser.surname" type="text" class="form-control" id="surname" name="surname">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input [(ngModel)]="newUser.email" type="email" class="form-control" id="email" name="email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input [(ngModel)]="newUser.password" type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>