<div class="list-group-item list-group-item-action">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1"><a routerLink="/contacts/{{contact.id}}">{{contact.name}} {{contact.surname}}</a></h5>
    <small (click)="onFavorite()" class="text-warning" *ngIf="contact.isFavorite"><i class="fas fa-star"></i></small>
    <small (click)="onFavorite()" class="text-warning" *ngIf="!contact.isFavorite"><i class="far fa-star"></i></small>
  </div>
  <button class="btn btn-danger mr-2" (click)="onDelete()"><i class="fas fa-trash"></i></button> 
  <button class="btn btn-primary" (click)="onEdit()"><i class="fas fa-edit"></i></button> 
</div>