<form (submit)="onSumbit()">
  <div class="form-group">
    <label for="name">Name: </label>
    <input [(ngModel)]="newContact.name" type="text" id="name" name="name" class="form-control">
  </div>
  <div class="form-group">
    <label for="surname">Surname: </label>
    <input [(ngModel)]="newContact.surname" type="text" id="surname" name="surname" class="form-control">
  </div>
  <div class="form-group">
    <label for="phone">Phone: </label>
    <input [(ngModel)]="newContact.phone" type="text" id="phone" name="phone" class="form-control">
  </div>
  <div class="form-group">
    <label for="email">Email: </label>
    <input [(ngModel)]="newContact.email" type="email" id="email" name="email" class="form-control">
  </div>
  <div class="form-group form-check">
    <input [(ngModel)]="newContact.isFavorite" type="checkbox" class="form-check-input" name="favorite" id="favorite">
    <label class="form-check-label" for="favorite">Favorite</label>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>