<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" routerLink="/contacts">ContactsApp</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li *ngIf="auth.isAuthenticated()" class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/contacts">Contacts</a>
			</li>
			<li *ngIf="!auth.isAuthenticated()" class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/login">Login</a>
			</li>
			<li *ngIf="!auth.isAuthenticated()" class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/register">Register</a>
			</li>
			<li *ngIf="auth.isAuthenticated()" class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/profile">{{auth.getUsername()}}</a>
			</li>
			<li *ngIf="auth.isAuthenticated()" class="nav-item">
				<p class="nav-link m-0" (click)="logout()">Logout</p>
			</li>
		</ul>
	</div>
</nav>

<router-outlet></router-outlet>