<div class="container my-4">
  <form (submit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email address</label>
      <input [(ngModel)]="email" type="email" class="form-control" id="email" name="email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input [(ngModel)]="password" type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>